.doctor-detail-container {
    font-family: 'Montserrat', sans-serif;

    .intro-doctor {
        display: flex;
        padding: 0 180px;

        .content-intro-left {
            width              : 150px;
            height             : 150px;
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : cover;
            border-radius      : 50%;
            margin             : 10px 20px;

        }

        .content-intro-right {
            width         : 60%;
            display       : flex;
            flex-direction: column;

            .intro-up {
                padding-top: 15px;
                font-size  : 25px;
                font-weight: bold;
            }

            .intro-down {
                padding-top: 7px;
                font-size  : 13px;
                color      : #555;

                .like-share-plugin {
                    margin: 10px 0 20px 0;
                }
            }
        }
    }

    .schedule-doctor {
        padding   : 0 200px;
        display   : flex;
        // height : 100%;
        min-height: 200px;

        .content-schedule-left {
            width: 50%;
        }

        .content-schedule-right {
            width: 50%;
        }
    }

    .detail-infor-doctor {
        padding         : 20px 200px;
        background-color: #f9f9f9;
        border-top      : 2px solid #ddd;
        border-bottom   : 2px solid #ddd;
        font-size       : 14px;

        img {
            width: 100%;
        }


    }

    .comment-doctor {
        padding: 10px 100px;
    }
}